.modal-content{
    background:#0f172a;
    border:1px solid rgba(255,255,255,.1);
    border-radius:20px;
}

.modal-body img{
    border-radius:15px;
}

.modal-header,
.modal-footer{
    border-color:rgba(255,255,255,.08);
}

.project-meta{

    display:flex;

    justify-content:space-between;

    margin:18px 0;

    color:#94a3b8;

    font-size:.9rem;

}
